.author_custom_fields  .form-control {padding: 7px;width: 100%;}
.author_custom_fields .form-group {padding: 5px 0 10px;}
.author_custom_fields  select.form-control {height: 35px;}
.author_custom_fields .form-group > label {padding: 0 0 5px;}
.form-group > p.error {color: red;left: 3px;position: relative;padding: 0px !important;margin: 0px !important;}
em.required_fields{color:red;} 
.author_custom_fields label{float:left;width:100%;font-size:14px;font-weight:bold;}

/* Create square fa, white logo on color background */
#social-bar .fa {
  color: white;
  line-height: 27px;
  min-width: 30px;
  text-align: center;
}

#social-bar a {
    margin-right: 5px;
    padding: 5px; /* Increase hit rectangle for touch devices */
}

/* Set fa color related to the service */

#social-bar a span {
    margin-left: 5px;
}

#social-bar .fa-facebook {
    background: #3B5998;
	border:1px solid #3B5998; /* Match fa highlight color */
}

#social-bar .fa-linkedin {
    background: #1985BC;
	border:1px solid #1985BC; /* Match fa highlight color */
}

#social-bar .fa-google-plus {
    background: #E14107;
	border:1px solid #E14107; /* Match fa highlight color */
}

/* Don't underline fa etc. */
#social-bar a:hover {
    text-decoration: none;
}

#social-bar a.fb:hover i {
    color: #3B5998; /* Match fa highlight color */
    border:1px solid #3B5998; /* Match fa highlight color */
    background-color: #fff; /* Match fa highlight color */
}
#social-bar a.gp:hover i {
    color: #E14107; /* Match fa highlight color */
    border:1px solid #E14107; /* Match fa highlight color */
	background-color: #fff; /* Match fa highlight color */
}
#social-bar a.ld:hover i {
    color: #1985BC; /* Match fa highlight color */
    border:1px solid #1985BC; /* Match fa highlight color */
	background-color: #fff; /* Match fa highlight color */
}

/* Animate mouse hover */
#social-bar a .fa {
   transition: background 0.5s;
}

#social-bar a:hover .fa {
    background: #333333;
    transition: background 0.5s;
} 

.border5 {
  border: 5px solid #efefef;
}

.floatL{
float:left;
}
p {
  font-weight: normal;
}

.page-header{border-top:none !important;padding-top:10px !important;margin-top:10px !important;}

.singleImg{width:100%;height:400px}
.archiveImg{width:100%;height:250px}
.relatedPostImg{width:100%;height:150px}
.galleryImg{width:100%;height:160px !important}

.carousel{
    margin-top: 20px 0px;
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bs-example{
	margin: 20px 0px;
}
